@model Category

@{
    ViewData["Title"] = "Category Details";
}

<div class="page-header">
    <h3 class="page-title"> Category Details </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-controller="Categories" asp-action="Index">Categories List</a></li>
            <li class="breadcrumb-item active" aria-current="page">Category Details</li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-body">
        <h4>Category Information</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.CategoryName) </dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.CategoryName) </dd>

            <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.CreatedDate) </dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.CreatedDate) </dd>

            <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.CreatedBy) </dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.CreatedBy) </dd>

            <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.ImagePath) </dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.ImagePath) </dd>

            <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.UpdatedBy) </dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.UpdatedBy) </dd>

            <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.UpdatedDate) </dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.UpdatedDate) </dd>

            @*
            <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.OnDelete) </dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.OnDelete) </dd>
           
            <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.ParentCategory.CategoryName) </dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.ParentCategory.CategoryName) </dd>
            *@
        </dl>

        <div class="form-group">
            <a asp-controller="Categories" asp-action="Edit" asp-route-id="@Model?.CategoryId" class="btn btn-primary">Edit</a>
            <a asp-controller="Categories" asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
