@model Engineer

@{
    ViewData["Title"] = "Engineer Details";
}

<div class="page-header">
    <h3 class="page-title"> Engineer Details </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/Engineers/Index">Engineers List</a></li>
            <li class="breadcrumb-item active" aria-current="page">Engineer Details</li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-body">
        <h4>Engineer Information</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.FirstName) </dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.FirstName) </dd>

            <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.LastName) </dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.LastName) </dd>

            <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.Phone) </dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.Phone) </dd>

            <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.Address) </dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.Address) </dd>

            <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.Email) </dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.Email) </dd>           
        </dl>

        <div class="form-group">
            <a asp-controller="Engineers" asp-action="Edit" asp-route-id="@Model?.EngineerId" class="btn btn-primary">Edit</a>
            <a asp-controller="Engineers" asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
